@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lilita+One&family=M+PLUS+2:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap');

.mainDiv {
    position: absolute;
    left: 0;
    top: 0;
    height: 62rem;
    width: 100%;
    background-color: rgb(199, 203, 210);
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.h1 {
    margin-top: 15rem;
    margin-left: 40rem;
    font-size: 3rem;
}

.h2 {
    margin-top: 0rem;
    margin-left: 35rem;
    font-size: 2rem;
}

.p {
    margin-top: 3rem;
    margin-left: 35rem;
    font-size: 1.2rem;
}

.label {
    position: absolute;
    top: 26rem;
    left: 56rem;
    font-size: 1.2rem;
}