/* This is where the fun begins */
.maindiv{
    position: absolute;
    top: 11.5rem;
    left: 0;
    right: 0;
    padding: 0;
    height: 70rem;
    width: auto;
    border-top: 1px solid rgb(107, 92, 92, 0.3);
}
.categoryDiv {
    position: absolute;
    left: 7rem;
    height: 2rem;
    display: flex;
}
.category {
    color: rgb(53, 40, 130);
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 0.85rem;
    text-decoration: none;
}
.category:hover {
    cursor: pointer;
    color: rgb(38, 0, 255);
}
.imgDiv {
    position: absolute;
    top: 5rem;
    left: 8rem;
    height: 28rem;
    width: 55rem;
    background: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.priceDiv {
    height: 10rem;
    width: 23rem;
    position: absolute;
    top: 5rem;
    left: 65rem;
    border-radius: 4px;
    border: 1.2px solid rgba(17, 65, 21, 0.4);
}
.priceDiv * {
    position: absolute;
}
.priceDiv h1 {
    color: black;
    left: 1rem;
    font-size: 1.9rem;
}
.priceDiv h5 {
    color: rgb(143, 147, 152);
    left: 1.1rem;
    top: 2.5rem;
    font-size: 0.9rem;
    font-weight: 400;
}
.priceDiv h4 {
    font-weight: 550;
    font-size: 0.7rem;
    color: rgb(143, 147, 152);
    top: 7.5rem;
    left: 1.2rem;
}
.priceDiv h6 {
    font-weight: 550;
    font-size: 0.7rem;
    color: rgb(143, 147, 152);
    top: 6.7rem;
    left: 17rem;
}
.sellerDiv {
    position: absolute;
    top: 16rem;
    left: 65rem;
    height: 13rem;
    width: 23rem;
    border-radius: 4px;
    border: 1.2px solid rgba(17, 65, 21, 0.4);
}

.sellerDiv * {
    position: absolute;
}
.userIcon {
    max-height: 3rem;
    top: 3.8rem;
    left: 1rem;
}
.sellerDiv h3 {
    top: 0;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: 520;
}
.sellerDiv h2 {
    color: black;
    font-size: 1rem;
    font-weight: 550;
    top: 3.5rem;
    left: 4.5rem;
}
.sellerDiv h6 {
    font-size: 0.7rem;
    font-weight: 500;
    left: 4.5rem;
    top: 4.3rem;
}
.chatDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 47, 52);
    width: 90%;
    height: 18%;
    top: 8rem;
    left: 1.1rem;
    font-size: 1rem;
    color: white;
}
.chatDiv:hover {
    cursor: pointer;
}
.phoneIcon {
    max-height: 1.7rem;
    top: 11rem;
    left: 5rem;
}
.sellerDiv label:hover {
    cursor: pointer;
}
.locationDiv {
    position: absolute;
    height: 18rem;
    width: 23rem;
    top: 30rem;
    left: 65rem;
    border-radius: 4px;
    border: 1.2px solid rgba(17, 65, 21, 0.4);
}
.locationDiv * {
    position: absolute;
}
.imgDivKaBaap {
    width: 90%;
    height: 11rem;
    left: 1.1rem;
    top: 6rem;
    border-radius: 4px;
    border: 1px solid rgb(0, 47, 52, 0.2);
    box-shadow: 0 8px 6px -6px black;
}
.imgDivKaBaap:hover {
    cursor: pointer;
}
.imageDiv {
    width: 100%;
    height: 9rem;
    overflow: hidden;
}
.locationDiv img {
    width: 100%;
    object-fit: contain;
}
.locationDiv h1 {
    color: black;
    top: 0.3rem;
    left: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.locationDiv h5 {
    color: rgb(143, 147, 152);
    top: 3rem;
    left: 1.1rem;
    font-size: 0.8rem;
    font-weight: 400;
}
.imgDivKaBaap h2 {
    top: 8.2rem;
    left: 1vw;
    color: rgb(105, 91, 91);
    font-size: 1.3rem;
    font-weight: 550;
}
.arrow {
    border: solid rgb(94, 82, 82);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.3rem;
    transform: rotate(312deg);
    -webkit-transform: rotate(312deg);
    top: 9.5rem;
    left: 18rem;
}
.descriptionDiv {
    position: absolute;
    top: 35.6rem;
    left: 8rem;
    width: 50rem;
    height: 12rem;
    border: 1.2px solid rgba(17, 65, 21, 0.4);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.mainTable {
    position: absolute;
    height: 5rem;
    width: 22rem;
    left: 1rem;
    top: 1rem;
}
.mainTable th {
    color: rgb(143, 147, 152);
    font-size: 0.9rem;
    font-weight: 500;
}
.mainTable td {
    color: rgb(47, 44, 44);
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 12rem;
}

.secTable {
    position: absolute;
    height: 5rem;
    width: 22rem;
    left: 25rem;
    top: 1rem;
}
.secTable th {
    color: rgb(143, 147, 152);
    font-size: 0.9rem;
    font-weight: 500;
}
.secTable td {
    color: rgb(47, 44, 44);
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 12rem;
}
.hr {
    background-color: rgba(215, 213, 213, 0.1);
    -webkit-transform: rotate(180deg);
    position: absolute;
    width: 670px;
    left: 1.4rem;
    top: 90px;
}
.descriptionDiv h3 {
    position: absolute;
    top: 5.6rem;
    left: 1.4rem;
    font-size: 1.3rem;
}
.descriptionDiv a {
    position: absolute;
    top: 9rem;
    left: 1.4rem;
    width: 90%;
    color: black;
    font-size: 0.9rem;
}